body{
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock{
  color: rgb(0, 0, 0);
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.clock-container{
  backdrop-filter: blur(3px);
  min-width: 100vw;
  padding: 10px 0;
}